@font-face {
    font-family: "Baron";
    src: url(baron.ttf);
}
@font-face {
    font-family: "Font2";
    src: url(dietdidot.otf);
}
@font-face {
    font-family: "EuropeC";
    src: url(europec.otf);
}
@font-face {
    font-family: "Font4";
    src: url(exylec.otf);
}
@font-face {
    font-family: "Font5";
    src: url(goodtimes.otf);
}
@font-face {
    font-family: "Font6";
    src: url(kelvinch.otf);
}
@font-face {
    font-family: "Font7";
    src: url(kornelia.ttf);
}
@font-face {
    font-family: "Font8";
    src: url(munson.otf);
}
@font-face {
    font-family: "Font9";
    src: url(rage.otf);
}
@font-face {
    font-family: "Font10";
    src: url(signpainter.otf);
}
@font-face {
    font-family: "Font11";
    src: url(toasted.ttf);
}
@font-face {
    font-family: "Font12";
    src: url(wiesbaden.ttf);
}

