


/* заготовка для страницы контактов */

#page_contacts {
    background-color: #eee;
    color: #222223;
}

main h2 {
    top: 280px;
}

main .main_spliter {
    height: 500px;
    top: -80px;
    margin-top: -50px;
    -webkit-mask: url("../images/mask2.svg");
    mask-image: url("../images/mask2.svg");
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.49);
}

main .main_spliter > .inner-center-big {
    height: 100%;
    justify-content: center;
}

main .main_spliter h3 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
}

#page_contacts .inner {
    display: flex;
    margin-top: 0;
    padding: 0;
}

#page_contacts .inner-contacts {
    position: relative;
    margin: -180px 0 0 5vw;
    background-color: #151515;
    color: #fff;
    padding: 130px 65px 100px 65px;
    box-sizing: border-box;
}

#page_contacts .inner-contacts > div {
    margin-bottom: 80px;
}

#page_contacts .inner-contacts .contacts-header {
    font-size: 2.5em;
    line-height: 1.7em;
    font-weight: bold;
    letter-spacing: 2px;
}

#page_contacts .inner-contacts > div > p {
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
}

#page_contacts .inner-contacts > div > a {
    font-size: 0.9em;
    color: #eee;
}


#page_contacts .inner .inner-side-2 {
    /*flex-grow: 1;*/
    max-width: 500px;
    margin: 0 auto;
    padding: 0 5px;
}

#page_contacts .inner-side-2 header {
    font-size: 1.5em;
    padding-bottom: 10px;
}

#page_contacts form .form-group {
    padding: 10px 0;
    font-size: 16px;
}

#page_contacts form a {
    color: #000061;
    font-weight: bold;
}

#page_contacts form p {
    padding-bottom: 5px;
}

#page_contacts form input[type=text],
#page_contacts form input[type=email],
#page_contacts form input[type=tel],
#page_contacts form textarea
{
    outline: none;
    border: 1px solid #aaa;
    border-radius: 1px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: EuropeC, Arial, sans-serif;
}

#page_contacts form input[type=text]:focus,
#page_contacts form input[type=email]:focus,
#page_contacts form input[type=tel]:focus,
#page_contacts form textarea:focus {
    border-color: rgba(0, 0, 97, 0.9);
}
#page_contacts form input[type=text]:hover,
#page_contacts form input[type=email]:hover,
#page_contacts form input[type=tel]:hover,
#page_contacts form textarea:hover {
    border-color: rgba(0, 0, 97, 0.5);
}

#page_contacts form input[type=file] {
    font-size: 16px;
    font-family: EuropeC, Arial, sans-serif;
}

#page_contacts form button {
    background-color: rgba(0, 0, 97, 0.5);
    width: 100%;
    box-sizing: border-box;
}

#page_contacts form button::before {
    background-color: rgba(0, 0, 97, 0.5);
}

/*
*
* portfolio
*
*/

#main_portfolio .inner-header {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

#main_portfolio .inner {
    width: 100%;
    padding: 0;
}

#main_portfolio .inner-list .inner-list-item {
    width: 40%;
    height: 350px;
    overflow: hidden;
    background-color: #000;
    box-shadow: 0 0 20px rgba(255, 255, 255, .6);
    box-sizing: border-box;
    margin: 20px;
}

#main_portfolio .inner-list .inner-list-item > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#main_portfolio .inner-list .inner-list-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
    opacity: 0.8;
    transform-origin: 50% 0;
}

#main_portfolio .inner-list .inner-list-item .item-content {
    z-index: 10;
    top: -100%;
    left: 0;
    background-color: rgba(21, 21, 21, 0.9);
    transition: none;
    padding: 30px 50px;
}

#main_portfolio .inner-list .inner-list-item .item-content::before,
#main_portfolio .inner-list .inner-list-item .item-content::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 3px;
    opacity: 0;
}

#main_portfolio .inner-list .inner-list-item .item-content::before {
    top: 130px;
    left: 0;
    background-image: linear-gradient(80deg, #ff7499, #ffd246);
}

#main_portfolio .inner-list .inner-list-item .item-content::after {
    bottom: 130px;
    right: 0;
    background-image: linear-gradient(80deg, #ffd246, #ff7499);
}

#main_portfolio .inner-list .inner-list-item .item-content > * {
    position: absolute;
    opacity: 0;
}

#main_portfolio .inner-list .inner-list-item .item-content .item-btn {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}


#main_portfolio .inner-list .inner-list-item .item-content .item-btn a {
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
#main_portfolio .inner-list .inner-list-item .item-content .item-btn a::before {
    background-color: #fff;
    transition: all 0.3s ease;
}
#main_portfolio .inner-list .inner-list-item .item-content .item-btn a:hover {
    color: #151515 !important;
    z-index: 1;
    opacity: 1;
}


#main_portfolio .inner-list .inner-list-item .item-content .item-title {
    top: 40px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    padding: 0 20px 5px 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

#main_portfolio .inner-list .inner-list-item .item-content .item-type {
    top: 50px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    color: #bbb;
    font-size: 1.2em;
}

#main_portfolio .inner-list .inner-list-item .item-content .item-text {
    color: #bbb;
    font-size: 1.2em;
    top: 150px;
    width: 80%;
    transform-origin: 50% 50%;
    transform: scale(2);
}

#main_portfolio .inner-list .inner-list-item.animated .item-content::before,
#main_portfolio .inner-list .inner-list-item.animated .item-content::after,
#main_portfolio .inner-list .inner-list-item.animated .item-content > * {
    opacity: 1;
}

#main_portfolio .inner-list .inner-list-item.animated .item-content .item-title {
    transition: all 0.4s ease 0.3s;

}

#main_portfolio .inner-list .inner-list-item.animated .item-content .item-type {
    top: 80px;
    transition: all 0.3s ease 0.5s;
}

#main_portfolio .inner-list .inner-list-item.animated .item-content .item-text {
    transform: scale(1);
    transition: all 0.4s ease 0.9s;
}

#main_portfolio .inner-list .inner-list-item.animated .item-content .item-btn {
    bottom: 50px;
    transition: all 0.3s ease 0.9s;
}

#main_portfolio .inner-list .inner-list-item.animated .item-content::before,
#main_portfolio .inner-list .inner-list-item.animated .item-content::after {
    width: 100%;
    transition: all 0.6s ease 1.2s;
}

main.inner-page #main_portfolio .inner {
    margin-top: -50px;
}

main.inner-page #main_portfolio .inner input[type=radio],
main.inner-page #main_portfolio .inner-list .inner-list-item {
    display: none;
}

main.inner-page #main_portfolio .portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

main.inner-page #main_portfolio .portfolio-menu label {
    padding: 10px 15px;
    border: 1px solid #aaa;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}

main.inner-page #main_portfolio input#portfolio-menu-0:checked ~ .portfolio-menu label[for=portfolio-menu-0],
main.inner-page #main_portfolio input#portfolio-menu-1:checked ~ .portfolio-menu label[for=portfolio-menu-1],
main.inner-page #main_portfolio input#portfolio-menu-2:checked ~ .portfolio-menu label[for=portfolio-menu-2],
main.inner-page #main_portfolio input#portfolio-menu-3:checked ~ .portfolio-menu label[for=portfolio-menu-3],
main.inner-page #main_portfolio input#portfolio-menu-4:checked ~ .portfolio-menu label[for=portfolio-menu-4],
main.inner-page #main_portfolio .portfolio-menu label:hover {
    background-color: #aaa;
    color: #222223;
}

main.inner-page #main_portfolio input#portfolio-menu-1:checked ~ .inner-list .inner-list-item.type-service-1,
main.inner-page #main_portfolio input#portfolio-menu-2:checked ~ .inner-list .inner-list-item.type-service-2,
main.inner-page #main_portfolio input#portfolio-menu-3:checked ~ .inner-list .inner-list-item.type-service-3,
main.inner-page #main_portfolio input#portfolio-menu-4:checked ~ .inner-list .inner-list-item.type-service-4,
main.inner-page #main_portfolio input#portfolio-menu-0:checked ~ .inner-list .inner-list-item {
    display: block;
}

/*
*
* price page
*
 */

#page_price {
    position: relative;
    background-color: #fff;
    background-image: linear-gradient(90deg,
    rgba(255, 219, 91, 0.2) 0, rgba(255, 219, 91, 0.2) 25%,
    rgba(255, 113, 133, 0.2) 25%, rgba(255, 113, 133, 0.2) 50%,
    rgba(181, 148, 255, 0.2) 50%, rgba(181, 148, 255, 0.2) 75%,
    rgba(92, 203, 255, 0.2) 70%, rgba(92, 203, 255, 0.2) 100%);
    color: #222223;
}

#page_price .inner {
    margin-top: -50px;
}

#page_price .inner-header a {
    font-size: 0.7em;
    color: #000061;
}

#page_price .inner-list .inner-list-item {
    top: 0;
    flex-grow: 0;
    width: 230px;
    height: 270px;
    margin: 15px 15px 0 0;
    border-radius: 15px;
    background-color: #fff;
    color: #222223;
    box-shadow: 0 10px 45px rgba(4, 36, 59, .08);
    transition: all 0.3s ease;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/doc.png");
    background-position: 0 0, -30px 10px;
    background-size: 100% 100%, 80px auto;
    background-repeat: no-repeat;
    overflow: hidden;
}

#page_price .inner-list .inner-list-item:hover {
    top: -10px;
}

#page_price .inner-list .inner-list-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#page_price .inner-list .inner-list-item .content {
    padding: 20px 15px;
}

#page_price .inner-list .inner-list-item .content .title {
    font-size: 1.2em;
    line-height: 1.2em;
    padding-left: 20px;
    padding-bottom: 40px;
    font-weight: 600;
}

#page_price .inner-list .inner-list-item .bottom-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding: 15px 0;
    background-color: #eee;
    color: #050131;
    font-weight: 900;
    text-align: center;
}

#page_price .inner-list .inner-list-item:hover .bottom-line {
    color: #05014c;
}

#page_price .price-list {
    padding-bottom: 50px;
}

#page_price .price-list .price-item {
    position: relative;
    top: 0; left:0;
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    max-width: 1000px;
    margin: 0 auto -15px auto;
    border-top: 6px solid #05014c;
}

#page_price .price-list .price-item:nth-of-type(5n) {
    border-top-color: #bcdb7f;
}
#page_price .price-list .price-item:nth-of-type(5n+1) {
    border-top-color: #ffcbad;
}
#page_price .price-list .price-item:nth-of-type(5n+2) {
    border-top-color: #a9eccb;
}
#page_price .price-list .price-item:nth-of-type(5n+3) {
    border-top-color: #e4cbff;
}
#page_price .price-list .price-item:nth-of-type(5n+4) {
    border-top-color: #fec3d1;
}

#page_price .price-list .price-item::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 20px; right: 25px;
    width: 15px; height: 15px;
    border-right: 1px solid #222223;
    border-bottom: 1px solid #222223;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}

#page_price .price-list .price-item label {
    display: block;
    padding: 15px 25px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 1.7em;
}

#page_price .price-list .price-item label:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#page_price .price-list .price-item:hover {
    top: -10px;
}

#page_price .price-list input {
    display: none;
}

#page_price .price-list input#item0 {
    display: block;
    position: absolute;
    top: 0;left: 0;
    width: 100%; height: 100%;
    opacity: 0;
}

#page_price .price-list input#item1:checked ~ .price-item label[for=item1] ~ .tarifs,
#page_price .price-list input#item2:checked ~ .price-item label[for=item2] ~ .tarifs,
#page_price .price-list input#item3:checked ~ .price-item label[for=item3] ~ .tarifs,
#page_price .price-list input#item4:checked ~ .price-item label[for=item4] ~ .tarifs,
#page_price .price-list input#item5:checked ~ .price-item label[for=item5] ~ .tarifs,
#page_price .price-list input#item6:checked ~ .price-item label[for=item6] ~ .tarifs,
#page_price .price-list input#item7:checked ~ .price-item label[for=item7] ~ .tarifs,
#page_price .price-list input#item8:checked ~ .price-item label[for=item8] ~ .tarifs,
#page_price .price-list input#item9:checked ~ .price-item label[for=item9] ~ .tarifs {
    height: 60vh;
}

#page_price .price-list .price-item .tarifs {
    height: 0;
    transition: all 0.4s ease;
    overflow-y: scroll;
}

#page_price .inner-btn-line {
    padding: 30px 5px 70px 5px !important;
}

#page_price .price-list .price-item .tarif {
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#page_price .price-list .price-item .tarif:last-of-type {
    margin-bottom: 40px;
}

#page_price .price-list .price-item .tarif .header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.5em;
    padding: 5px 20px 15px 25px;
}

#page_price .price-list .price-item .tarif .header .title {
    padding-right: 10px;
}

#page_price .price-list .price-item .tarif .header .price {
    font-weight: 900;
}

#page_price .price-list .price-item .tarif .header .price::before {
    content: "от";
    padding: 0 5px;
    font-size: 0.8em;
    color: #888;
}


#page_price .price-list .price-item .tarif .header .price .rub {
    font-size: 0.8em;
    color: #888;
    padding: 0 2px;
}

#page_price .price-list .price-item .tarif .header .price .rub-per-month {
    display: inline-block;
    position: relative;
    width: 35px; height: 35px;
    font-size: 0.8em;
    color: #888;
}
#page_price .price-list .price-item .tarif .header .price .rub-per-month::before {
    content: "руб.";
    position: absolute;
    top:5px;left:0;
    padding: 0 2px;
    border-bottom: 1px solid #888;
}
#page_price .price-list .price-item .tarif .header .price .rub-per-month::after {
    content: "мес.";
    position: absolute;
    top:25px;left:0;
    padding: 0 2px;
}


#page_price .price-list .price-item .tarif .dots {
    flex-grow: 1;
    flex-basis: 50px;
    height: 3px;
    background-image: repeating-linear-gradient(90deg,#888 0px, #888 3px,transparent 3px, transparent 8px);
}

#page_price .price-list .price-item .tarif .description {
    padding: 0 20px 0 40px;
    font-size: 1.1em;
}

#page_price .price-list .price-item .tarif .description ul {
    list-style: none;
}
#page_price .price-list .price-item .tarif .description ul li::before {
    content: "*";
    position: relative;
    top: 5px;
    padding-right: 5px;
    font-size: 1.2em;
    color: #d34fa6;
}